###\\\\ General definition ////###

# Primary mail domain name
domain MX_DOMAIN


###\\\\ Directories and file location ////###

## http_host se comparará con la variable de entorno 'SERVER_NAME' en wwsympa.fcgi para deducir que Virtual Host se está consultando
http_host WEB_DOMAIN

# URL prefix of web interface
wwsympa_url http://WEB_DOMAIN/sympa

## Listmasters email addresses - Descomentar y modificar línea de abajo en caso de querer agregar un listmaster solo para esta lista. 
##Se pueden agregar varios mails separados por comas
#listmaster user@sympa.com
ROBOT_LISTMASTERS

## Titulo a mostrar en la interfaz web
title TITLE

dark_color #00aa00
light_color #ddffdd
selected_color #0099cc

###\\\\ Internationalization ////###

## Default lang (ca | cs | de | el | es | et_EE | en_US | fr | fi | hu | it | ja_JP | ko | nl | nb_NO | oc | pl | pt_BR | ru | sv | tr | vi | zh_CN | zh_TW)
## This is the default language used by Sympa
lang DEFAULT_LANG
